.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background: #1e1e1e;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 16rem;
  transition: all .3s;
  cursor: pointer;

  &:hover{
    box-shadow: 0px 0px 26px 9px rgba(0, 0, 0, 0.2);
  }
}

.image{
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}

h5{
  font-weight: 200;
}