.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  background: #1e1e1e;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 18rem;
  transition: all .3s;

  &:hover{
    box-shadow: 0px 0px 26px 9px rgba(0, 0, 0, 0.2);
  }
}

.image{
  width: 200px;
}